{% extends 'base.html' %}

{% block content %}
<html>
    <h1 style="font-weight: bolder; color: #1C1F22; justify-content: center; display: flex;">One website</h1>
    <h1 style="font-weight: bolder; color: #64a3e3; justify-content: center; display: flex;">ALL possibilities</h1>
    <h1 style="font-weight: bolder; color: #1C1F22; justify-content: center; display: flex;">using AI for everyone.</h1>

    <div style="text-align: center; margin-top: 20px; font-size: 25px">
        <a href="sticker" style="margin-right: 20px;">Sticker Maker</a>
        <a href="pulid">
            <img src="https://replicate.delivery/pbxt/rhYCCxWHrnIYGJJ25kHHqetfXywNHUwHn3dRfRoXOFBCnmilA/output_image_0.webp" style="width:42px;height:42px;">
        </a>
    </div>
</html>
{% endblock %}
